In [1]:
import sqlite3

In [2]:
# establish a connection
connection = sqlite3.connect('books.db')

In [3]:
#create a cursor object
cursor = connection.cursor()

## Select all authors last names from the authors table in descending order.

In [4]:
print("Authors last names in descending order")
res = cursor.execute("SELECT last FROM authors order by last desc")
# get the data
data=res.fetchall()
for row in data:
    print('\t'.join([str(x) for x in row])),
    print('')

Authors last names in descending order
Wald

Quirk

Deitel

Deitel

Deitel

## book titles from the titles table in ascending order.

In [5]:
res = cursor.execute("SELECT title FROM titles order by title asc")
# get the data
data=res.fetchall()
for row in data:
    print('\t'.join([str(x) for x in row])),
    print('')

Android 6 for Programmers

Android How to Program

C How to Program

C++ How to Program

Internet & WWW How to Program

Intro to Python for CS and DS

Java How to Program

Visual Basic 2012 How to Program

Visual C# How to Program

Visual C++ How to Program

##  books for a specific author. Include the title,copyright year and ISBN. Order the information alphabetically by title

In [6]:
res = cursor.execute("""
SELECT titles.title,titles.copyright,titles.edition,titles.isbn from titles 
inner join author_ISBN on author_ISBN.isbn = titles.isbn inner join authors on authors.id=author_ISBN.id where
authors.id=3 order by titles.title asc """)
# get the data
data=res.fetchall()
for row in data:
    print('\t'.join([str(x) for x in row])),
    print('')

Internet & WWW How to Program	2012	5	0132151006

Visual Basic 2012 How to Program	2014	6	0133406954

# Inserting a record in the authors table

In [7]:
res = cursor.execute("insert into authors (first,last)values('Henrik','Ibsen')")
rest = cursor.execute("""select * from authors""")
# get the data
data=rest.fetchall()
for row in data:
    print('\t'.join([str(x) for x in row])),
    print('')

1	Paul	Deitel

2	Harvey	Deitel

3	Abbey	Deitel

4	Dan	Quirk

5	Alexander	Wald

6	Henrik	Ibsen

## Insert a new title for an author. Remember that the book must have an entryin the author_ISBN table and an entry in the titles table.

In [8]:

res = cursor.execute("insert into titles (isbn,title,edition,copyright)values('0215404673','An Enenmy Of the People',1,'1883')")
res = cursor.execute("insert into author_ISBN (id,isbn)values(3,'0235404673')")
# book titles from the titles table in ascending order
print("book titles from the titles table in ascending order.")
res = cursor.execute("SELECT * FROM titles order by title asc")
# get the data
data=res.fetchall()
for row in data:
    print('\t'.join([str(x) for x in row])),
    print('')
print('\n')

book titles from the titles table in ascending order.
0215404673	An Enenmy Of the People	1	1883

0134289366	Android 6 for Programmers	3	2016

0134444302	Android How to Program	3	2017

0133976890	C How to Program	8	2016

0134448235	C++ How to Program	10	2017

0132151006	Internet & WWW How to Program	5	2012

0135404673	Intro to Python for CS and DS	1	2020

0134743350	Java How to Program	11	2018

0133406954	Visual Basic 2012 How to Program	6	2014

0134601548	Visual C# How to Program	6	2017

0136151574	Visual C++ How to Program	2	2008

In [10]:
connection.close()